<div class="flex justify-center items-center flex-col h-screen">
  <h1>Password Strength Checker</h1>
  <input class="border-2 border-black rounded" type="password" name="password" (input)="onPasswordChange($event)"
    id="password" placeholder="Enter password...">

  <div class="password-strength-meter">
    <div class="strength-section easy w-32 h-3 m-1" [ngStyle]="{ 'background-color': getPasswordSectionColor(0) }">
    </div>
    <div class="strength-section medium w-32 h-3 m-1" [ngStyle]="{ 'background-color': getPasswordSectionColor(1) }">
    </div>
    <div class="strength-section hard w-32 h-3 m-1" [ngStyle]="{ 'background-color': getPasswordSectionColor(2) }">
    </div>

  </div>
  <div>